/* Estilos generales y fuentes */
body {
    font-family: 'Garamond', serif; /* Una fuente elegante para bodas */
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* Fuente decorativa para títulos */
}

/* Función para superponer un color oscuro a las imágenes de fondo y que el texto resalte */
.overlay {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* Efecto parallax */
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Capa oscura */
    z-index: 1;
}

.overlay > .container {
    position: relative;
    z-index: 2;
}

/* 1. Foto principal */
.hero-section {
    min-height: 100vh;
    background-image: url('../img/fondo-principal.jpg');
    background-size: cover;
    background-position: center;
}

/* 2. Nombres de los novios */
.nombres-section {
    min-height: 60vh;
    background-image: url('../img/fondo-nombres.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Efecto parallax */
}

/* 3. Nombre del invitado */
.invitado-section {
    min-height: 50vh;
    background-image: url('');
    background-size: cover;
    background-position: center;
}

/* 5. Cronómetro */
.cronometro-section {
    background-color: #333; /* Un color oscuro para el fondo */
}

.cronometro-section span {
    font-size: 1rem;
}

/* 7. Carrusel */
.carrusel-section .carousel-item img {
    max-height: 70vh;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

/* 9. Versículo */
.versiculo-section {
    min-height: 50vh;
    background-image: url('../img/fondo-versiculo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

